
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Playfair+Display&display=swap');


body, html{
  overflow-x: hidden;
  padding:0;
  margin: 0;
}

body{
  overflow-y: hidden;
}

.Page1,.Page2,.Page3,.Page4,.Page5,.Page6{
  height: 100vh;
}
.Page6Mobile{
  height: 30vh;
}

.Page7Mobile{
  height: 70vh;
}

.Page7{
  height: 70vh;
}

.Footer{
  height: 35vh;

}

.Page3Background{
  background-image: url("../image/page3.png");
  z-index: -1;
  background-repeat: no-repeat;
  ;
}

.Footer{
  margin-top: 250px;
  background-image: url("../image/Footer.png");
  z-index: -1;
  width: 100%;
height: fit-content;
}

.FooterMobile{
  height: 15vh;
}