
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Playfair+Display&display=swap');


body, html{
  overflow-x: hidden;
  padding:0;
  margin: 0;
}

body{
  overflow-y: hidden;
}

.Page1,.Page2,.Page3,.Page4,.Page6{
  height: 100vh;
}
.Page5{
  height: 120vh;
}
.Page7{
  height: 70vh;
}
.Page1M,.Page2M{
  height: 100vh;
}
.Page3M{
  height: 70vh;
}
.Page4M{
  height: 80vh;
}
.Page5M{
  height: 90vh;
}
.Page6M{
  height: 25vh;
}
.Page7M{
  height: 70vh;
}


.FooterM{
  height: 15vh;
}

.Page3Background{
  background-image: url("../image/page3.png");
  z-index: -1;
  background-repeat: no-repeat;
  ;
}

.Footer{
 margin-top: 250px;
background-image: url("../image/Footer.png");
z-index: -1;
width: 100%;
height: fit-content;
background-repeat: no-repeat;
}

.NavTextName{
  font-family: 'Playfair Display', serif;
  color: #000000;
  font-weight: bolder;
  
}

.Navli{
  padding: 2px;
  padding-top: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: 'Manrope', sans-serif;
  color: #000000;
}

.IconClose{
  padding: 10px;
}

.NavMenu{
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}
