@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400&family=Playfair+Display&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

.NavName{
  width: 10%;
}





.TextPage1{
  font-family: "Playfair Display";
  
}
.TextPage2{
  font-family: "Playfair Display";
  color: #0E204E;
  font-weight: bolder;
}

.TextMoBilePage2{
    font-family: 'Manrope', sans-serif; 
}

.TextRectanglePage2{
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}


.DivImage{  
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0;
  padding-left: 0;
}

.ImageMobile{
  filter: brightness(60%);
}

.DivTextPage2{
  width: 40%; 
}


.DivTextPage3{
  color: white;
  font-family: "Playfair Display"; 
  font-weight: bold;
}

.FontPage4{
  font-family: Poppins;
  color: #0E204E;
}

.FontPage4M{
  font-family: Poppins;
  color: #ffffff;
}


.ImagePage4{

  align-items: center;
  justify-content: center;
}

.ImagePage1{
  width: 120%;
  height: auto;
  /* height: fit-content; */
  z-index: -1;
  position: relative;
}

.TextPage7{
  width: 700px;
}

.FooterImage{
  position: absolute;
  z-index: -1;
}

.sidebar{
  list-style: none;
  position: fixed;
  margin: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 120px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
  padding: 10px;
}











